.loading-logo img {
  object-fit: cover;
  height: 80px;
}
.loading-container {
  color: #aaaaaa;
  margin-top: 100px;
}
.movie-container,
.movie-detail-container {
  margin-top: 70px;
}
@media (min-width: 539px) {
  .col-md-2-4 {
    flex: 0 0 20%; /* 100% / 5 columns = 20% */
    max-width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .movie-container,
  .movie-detail-container {
    margin-top: 50px;
  }
}
.movie-container .row {
  width: 85%;
}
.movie-card {
  height: 360px;
  background-color: #292c34;
  color: #fff;
  font-family: "Roboto";
  font-size: 13px;
}
.movie-img {
  height: 75%;
  cursor: pointer;
  filter: brightness(1);
  transition: all ease-in 0.2s;
}
.movie-img:hover {
  filter: brightness(0.7);
}
.movie-main-detail {
  height: 25%;
  cursor: default;
}
.movie-year {
  color: #aaaaaa;
}
.movie-name {
  color: #fff;
  height: 35px;
  padding: 5px 0;
  transition: all ease-in 0.2s;
  overflow: hidden;
}
.movie-name:hover {
  color: #ea1277;
}
.movie-more {
  background-color: #3f4655;
  width: 90%;
  padding: 5px 3px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in 0.2s;
  cursor: pointer;
}
.movie-more:hover {
  background-color: #51596c;
}
.movie-more-icon {
  background: #51596c;
  margin: 0 10px;
  border-radius: 3px;
  padding: 3px 5px;
  font-size: 9px;
}

@media screen and (max-width: 768px) {
  .movie-card {
    height: 300px;
  }
  .movie-name {
    height: 22px;
  }
  .movie-more {
    width: 95%;
    padding: 1px 3px;
    margin-top: 4px;
  }
  .movie-container .row {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .movie-card {
    height: 300px;
  }
  .movie-name {
    height: 20px;
  }
  .movie-more {
    width: 80%;
    padding: 1px 3px;
  }
}
.errormsg {
  color: #fff;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 40px;
}
